<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CALIDAW</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

</head>

<body>
<div id="menu">
    <div id="menui"><p id="logo"><a id="letra-logo" href="#slide-one">CALIDAW</a>
    </div>
    <div id="menum"><ul>
            <li id="focus"><a class="letra-menu separacion" href="#slide-two">Ejercicios</a></li>
            <li><a class="letra-menu separacion" href="#slide-three">Rutinas</a></li>
            <li><a class="letra-menu separacion" href="#slide-four">Nutrición</a></li>
            <li><a class="letra-menu separacion" href="#slide-four">Tienda</a></li>
        </ul></div>
    <div id="menud"><button id="login-button" class="inicios">Iniciar Sesión</button>
        <div class="login-container">
            <form class="login-form">
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">
                <input type="submit" value="GO" />
            </form>
        </div>
        <p id="registro">Registrarte</p>
    </div>

</div>
</div>
<div id="section-wrapper">

    <div id="section-wrapper-content">

        <section class="slide slide-one">
            <div class="bloque1"><p id="titulo">CALISTENIA</p>
                <p id="subtitulo">COMIENZA TU CAMBIO</p>
                <p id="texto">Los planes de entrenamiento online serán diseñados de manera personalizada
                    para cada uno de los que nos pidáis asesoramiento on-line a través de esta web,
                    siempre con el respaldo de todosnuestros expertos.</p>
                <p><a href="#" class="myButton">Logra tu Asesoramiento</a></p></div>
            <div class="bloque2">
                <img id="imageninicio" src="Imagenes/Asesoramiento-Inicio.jpg" alt="tio" />
            </div>

        </section>

        <section class="slide slide-two">
            <h2>Ejercicios</h2>
        </section>

        <section class="slide slide-three">
            <p id="subtitulo" class="espacio">Rutinas de Calistenia por niveles</p>
            <div class="columnanut"><img class="imgrut" src="Imagenes/Rutina/Principiante.jpg" /></div>
            <div class="columnanut"><img class="imgrut" src="Imagenes/Rutina/intermedio.png"/></div>
            <div class="columnanut"><img class="imgrut" src="Imagenes/Rutina/avanzado.jpg" /></div>
            <div class="columnanut"><p class="blanco letranut">Principiante</p></div>
            <div class="columnanut"><p class="blanco letranut">Intermedia</p></div>
            <div class="columnanut"><p class="blanco letranut">Avanzada</p></div>
        </section>

        <section class="slide slide-four">

            <p id="subtitulo">Mejora tu Nutrición</p>
            <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/why-eat-more-fiber-intro.jpg" /></div>
            <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/fasting-is-good-for-you-intro.jpg"/></div>
            <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/post-pre-workout-intro.jpg" /></div>

            <div class="columnanut"><p class="blanco">¿Necesitamos comer más Fibra?</p></div>
            <div class="columnanut"><p class="blanco">Ayuno Intermitente</p></div>
            <div class="columnanut"><p class="blanco">Nutrición Pre y Post Entrenamiento</p></div>



            <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/calories-intro.jpg" /></div>
            <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/drink-more-water-intro.jpg"/></div>
            <div class="columnanut"><img class="imgnut" src="Imagenes/Nutricion/fitness-and-alcohol-intro.jpg" /></div>

            <div class="columnanut"><p class="blanco">Como contar las calorias</p></div>
            <div class="columnanut"><p class="blanco">Como beber mas agua</p></div>
            <div class="columnanut"><p class="blanco">Alcohol y Fitness</p></div>
        </section>

    </div>
    <footer><div id="debajo">
            <ul>
                <li><a class="letra-footer separacionfooter separacion" href="#slide-two">Facebook</a></li>
                <li><a class="letra-footer separacion" href="#slide-three">Twitter</a></li>
                <li><a class="letra-footer separacion" href="#slide-four">Pinterest</a></li>
                <li><a class="letra-footer separacion" href="#slide-four">Instagram</a></li>
                <li><a class="letra-footer separacion" href="#slide-four">Youtube</a></li>
            </ul></div></footer>
</div>



<script  src="js/index.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="js/indexx.js"></script>




</body>

</html>



